@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  background-color: #f8f7f2;
}

.blog-content {
  line-height: 1.8;
  font-size: 1.1rem;
}

.blog-content p {
  margin-bottom: 15px;
  color: #080888;
}

.blog-content h2 {
  margin-top: 20px;
  font-size: 1.5rem;
}

.blog-content h3 {
  margin-top: 15px;
  font-size: 1.3rem;
}

.blog-content ul {
  padding-left: 20px;
}

.blog-content ul li {
  margin-bottom: 10px;
}

/* HTML: <div class="loader"></div> */
/* .loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: repeating-conic-gradient(#0000,#000 1deg 18deg,#0000 20deg 36deg);
  animation: l9 4s infinite linear;
  position: relative;
}
.loader::before{
  content: "";
  position: absolute;
  border-radius: 50%;
  inset:0;
  background: inherit;
  animation: inherit;
}
@keyframes l9{
  100% {transform:rotate(.5turn)}
} */