@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  background-color: #f8f7f2;
}

.blog-content {
  line-height: 1.8;
  font-size: 1.1rem;
}

.blog-content p {
  margin-bottom: 15px;
  font-size: 1rem;
}

.blog-content h2 {
  margin-top: 20px;
  font-size: 1.5rem;
}

.blog-content h3 {
  margin-top: 15px;
  font-size: 1.3rem;
}

.blog-content ul {
  padding-left: 20px;
}

.blog-content ul li {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .blog-content p,
.blog-content ul {
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.blog-content h3 {
  margin-top: 10px;
  font-size: 1.2rem;
}

.blog-content h2 {
  margin-top: 10px;
  font-size: 1.2rem;
}
}

/* Gradient color references for future use:
linear-gradient(90deg, #b7f8db 0%, #50a7c2 100%)
linear-gradient(90deg, #355c7d 0%, #6c5b7b 50%, #c06c84 100%)
linear-gradient(90deg, #606c88 0%, #3f4c6b 100%)
*/